<h1>Mongo Note App</h1>
<div id="userinput">
  <br>
    <p>Note</p>
    <textarea id="note"></textarea>
  <div id="buttons">
    <div id="actionbutton">
      <button id="makenew">Save Note</button>
    </div>
  </div>
</div>

<div id="userinput">
  <br>
    <p>Note</p>
    <textarea id="note"></textarea>
  <div id="buttons">
    
    <button id="clearall">Delete Note</button>
  </div>
</div>

<div id="display-article">

</div>

   
